.titlebar {
    height: 50px;
    background-color: #aaaaaa;
    font-family: monospace;
}
.logo {
    margin-left: 15px;
    font-size: 1.15em;
    color: black;
}

.rightnavbutton {
    padding-left: 15px;
    float: right;
    border-left: 1px solid black;
    height: 100%;
    margin-right: 15px;
}

.verticalcenter {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
}

#loginBoxes {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.loginBox {
    border-radius: 5px;
    padding: 30px;
    position: relative;
}

.loginTable { 
    margin-left: auto;
    margin-right: auto;
}

.loginTable td {
    width: 50%;
    border: 2px solid #aaaaaa;
    border-radius: 5px;
    height: 100%;
}

.submit {
    position: absolute;
    right: 15px;
}

.loginBox td {
    border: none;
}
