.titlebar {
    height: 50px;
    background-color: #aaaaaa;
    font-family: monospace;
}
.logo {
    margin-left: 15px;
    font-size: 1.15em;
    color: black;
}

.rightnavbutton {
    padding-left: 15px;
    float: right;
    border-left: 1px solid black;
    height: 100%;
    margin-right: 15px;
}

.verticalcenter {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
}

#loginBoxes {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.loginBox {
    border-radius: 5px;
    padding: 30px;
    position: relative;
}

.loginTable { 
    margin-left: auto;
    margin-right: auto;
}

.loginTable td {
    width: 50%;
    border: 2px solid #aaaaaa;
    border-radius: 5px;
    height: 100%;
}

.submit {
    position: absolute;
    right: 15px;
}

.loginBox td {
    border: none;
}

.error {
    color: red;
    font-size: small;
}

.errorlist {
    font-size: x-small;
}

.leftTabs {
    padding-right: 15px;
}

.leftTabs li {
    list-style-type: none;
    margin-bottom: 15px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
    padding-right: 15px;
    cursor: pointer;
}

.selected {
    background-color: #cccccc;
}

.dashboardMain {
    width: 85%;
}

.dash {
    width: 100%;
}

/* Without this, the tabs on the Dasboard will be too far from the side of the page. */
.leftTabs > ul {
    padding-left: 0px;
    text-align: right;
}

.green {
    color: green;
}

.red { 
    /* Since this is shown on a black background, it should probably be a little less jarring. I don't know 
     * how to do that though. I'll do some searching. */ 
    color: red;
}

.stockBoard {
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: black;
    color: white;
}

.stockBoard td {
    border: 1px solid white;
    padding: 3px;
}

.leaderBoard {
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    border-collapse: none;
}

.leaderBoard td {
    border-bottom: 1px solid black;
}

.dash td {
    vertical-align: top;
}

.floorSelection {
    margin-right: auto;
    margin-left: auto;
}

a.full {
    display: block;
    height: 100%;
}

.floorSelection tr {
    background-color: #CCCCCC;
    cursor: pointer;
}

.floorSelection td {
    padding: 10px;
    text-align: center;
}

.floorSelection tr:hover {
    background-color: #BBBBBB;
}

a.noUnderline {
    text-decoration: none;
    color: black;
}
