{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static "style.css" %}" type="text/css" />
    </head>
    <div class="titlebar">
        <table style="height:100%; width: 100%; table-layout: fixed">
            <tr>
                <td style="width: 50%">
                    <a style="display: block; height: 100%" href="index.html">
                        <div class="verticalcenter">
                            <div class="logo">Fantasy Stocks</div>
                        </div>
                    </a>
                </td>
                <td style="width: 50%;">
                    <div class="verticalcenter" style="right: 0; border-left: 1px solid black">
                        <div class="rightnavbutton">{% block rightbutton %}How it Works{% endblock %}</div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    {% block content %}{% endblock %}
</html>
