{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static "style.css" %}" type="text/css" />
        {% for src in scripts %}
            <script src="{{ src }}"></script>
        {% endfor %}
        <script>
{% block script %}{% endblock %}
        </script>
        {% block head %}{% endblock %}
    </head>
    <div class="titlebar">
        <table style="height:100%; width: 100%; table-layout: fixed; border-collapse: collapse;">
            <tr>
                <td>
                    <a style="display: block; width: 100%; text-decoration: none;" href="{% url "home" %}">
                        <div class="logo">Fantasy Stocks</div>
                    </a>
                </td>
                <td style="padding-bottom: 0; padding-top: 0">
                    <div class="rightnavbutton">
                        <a style="text-decoration: none;" href="{% block rightLink %}{% url "instructions" %}{% endblock %}">
                            <table style="height: 100%">
                                <tr>
                                    <td style="width: inherit; color: black;">
                                        {% block rightButton %}How it Works{% endblock %}
                                    </td>
                                </tr>
                            </table>
                        </a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    {% block content %}{% endblock %}
    <div id="footer">
        Data provided for free by <a href="https://iextrading.com/developer">IEX</a>. View <a href="https://iextrading.com/api-exhibit-a/">IEX’s Terms of Use</a>.
    </div>
</html>
