{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static "style.css" %}" type="text/css" />
    </head>
    <div class="titlebar">
        <table style="height:100%; width: 100%; table-layout: fixed; border-collapse: collapse;">
            <tr>
                <td>
                    <a style="display: block; width: 100%; text-decoration: none;" href="{% url "home" %}">
                        <div class="logo">Fantasy Stocks</div>
                    </a>
                </td>
                <td style="padding-bottom: 0; padding-top: 0">
                    <div class="rightnavbutton">
                         <a href="{% url "instructions" %}">
                            <table style="height: 100%">
                                <tr>
                                    <td style="width: inherit; color: black;">
                                        {% block rightbutton %}How it Works{% endblock %}
                                    </td>
                                </tr>
                            </table>
                        </a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    {% block content %}{% endblock %}
</html>
