{% extends "loggedIn.html" %}
{% load staticfiles %}
{% block title %}Dashboard{% endblock %}
{% block script %}
var floors = {
{% for player in players %}
'{{ player.floor.pk }}': '{{ player.get_floor_leaderboard|escapejs }}{{ player.get_floor_stockboard|escapejs }}', 
{% endfor %}
};
var trades = {
{% for player in players %}
{{ player.floor.pk }} : {received : "{% filter escapejs %}{% for trade in player.receivedTrades %}
<tr class="trade">
    <td>
        <a href="{% url "receivedTrade" pkTrade=trade.pk %}" class="noUnderline">
            {{ trade.sender }}
        </a>
    </td>
    <td>{{ trade.date }}</td>
</tr>
{% endfor %}{% endfilter %}", 
sent: "{% filter escapejs %}{% for trade in player.sentTrades %}
<tr class="trade">
    <td>{{ trade.recipient }}</td>
    <td>{{ trade.date }}</td>
</tr>
{% endfor %}{% endfilter %}", 
{% if player.seesSuggestions %}
requests: "{% filter escapejs %}{% for request in player.receivedRequests %}
<tr class="trade">
    <td>
        <a href="{% url "acceptStock" pkSuggestion=request.pk %}" class="acceptButton noUnderline" id="{{ request.stock }}" >
            {{ request.stock }} (from {{ request.requesting_player.get_name }})</a>
    </td>
    <td>{{ request.date }}</td>
</tr>
{% endfor %}{% endfilter %}", 
{% endif %}
},
{% endfor %}

};
{% endblock %}

{% block content %}
<table class="dash">
    <tr>
        <td style="border-right: 1px solid black; width: 20%;">
            <div class="tabs">
                <ul>
                    {% for player in players %}
                    <li {% if forloop.first %}class="selected"{% endif %} id="{{ player.floor.pk }}">
                        {{ player.floor }} {% with len=player.numMessages %} 
                        {% if len %}<strong>{% endif %}
                            ({{ len }})
                            {% if len %}</strong>{% endif %}
                        {% endwith %}
                        <a href="{% url "deletePlayer" pkPlayer=player.pk %}" id="{{ player.floor.name }}" class="deleteButton">
                            <img src="{% static "redX.gif" %}" class="deleteImage" />
                        </a>
                    </li>
                    {% endfor %}
                    <li style="padding: 0;">
                        <a class="full" style="padding: 5px; margin-right: 10px; text-decoration: none; color: black;" href="{% url "joinFloor" %}" style="text-decoration: none; color: black">Join a floor</a>
                    </li>
                </ul>
            </div>
        </td>
        <td>
            <table class="floorContainer">
            </table>
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td style="text-align:center">
            <div class="tradeTab selected unselectable" id="received">
                Received Trades
            </div>
            <div class="tradeTab unselectable" id="sent">
                Sent Trades
            </div>
            <div class="tradeTab unselectable" id="requests" style="visibility: hidden">
                Stock Suggestions
            </div>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <table class="tradeInbox">
            </table>
        </td>
    </tr>
</table>
{% endblock %}
