{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}
{% block rightLink %}{% url "mylogout" %}{% endblock %}
{% block rightButton %}Logout{% endblock %}
{% block script %}
var floors = {
{% for player in players %}
"{{ player.floor.pk }}": {% with count=forloop.counter0 %}'{% spaceless %}
<tr>
    <td style="width: 50%">
        <table class="stockBoard">
            {% for stock in player.floor.stocks.all %}
            <tr>
                <td>
                    <span style="display: inline-block; float: left">{{ stock.symbol }}</span>
                    {% with change=stock.get_change %}
                    <span class="{% if change > 0%}green{% else %}red{% endif %}" style="display: inline-block; float: right">{{ change }}</span>
                    {% endwith %}
                </td>
            </tr>
            {% endfor %}
</tr>
        </table>
    </td>
    <td>
        <table class="leaderBoard">
            {% for competitor in player.floor.leaders %}
            <tr>
                <td {% if forloop.last %}style="border-bottom: none;"{% endif %}>
                    <span style="display: inline-block; float: left">{{ forloop.counter }}. {{ competitor.user.email }}</span>
                    <span style="display: inline-block; float: right">{{ competitor.points }}</span>
                </td>
            </tr>
            {% endfor %}
        </table>
    </td>
    </tr>
    {% endspaceless %}{% endwith %}', 
    {% endfor %}
    };
    {% endblock %}

    {% block content %}
    <table class="dash">
        <tr>
            <td style="border-right: 1px solid black; width: 125px;">
                <div class="leftTabs">
                    <ul>
                        {% for player in players %}
                        <li {% if forloop.first %}class="selected"{% endif %} id="{{ player.floor.pk }}">
                            {{ player.floor }}
                        </li>
                        {% endfor %}
                        <li>
                            <a href="{% url "joinFloor" %}" style="text-decoration: none; color: black">Join a floor</a>
                        </li>
                    </ul>
                </div>
            </td>
            <td>
                <table class="dashboardMain">
                </table>
            </td>
        </tr>
    </table>
    {% endblock %}
