{% extends "loggedIn.html" %}
{% block head %}{{ form.media }}{% endblock %}
{% block content %}
{% if not floor.public %}
<p>
For others to join your floor, send them this link: <span style="color: blue; text-decoration: underline;">{{ absolute_join_url }}</span>
</p>
{% endif %}
<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit">
</form>
<br />
<input type="button" value="Delete floor {{ floor.name }}" id="deleteButton" />
{% endblock %}
