{% extends "base.html" %}
{% block title %} How it works {% endblock %}
{% block content %}
<h2>Step 1:</h2>
<p>
Find some friends and make a floor. You can choose which stocks will be available on that floor, how many stocks each person can have, and whether the floor will be public or private. 
</p>
<br />
<h2> Step 2:</h2>
<p>
After everyone drafts their stocks, you play the game and try to get the most points by picking the strongest stocks. 
</p>
<br />
<h2> Step 3:</h3>
<p>
???
</p>
<h2> Step 4:</h3>
<p>
Profit
</p>
{% endblock %}
