{% extends "loggedIn.html" %}
{% load staticfiles %}
{% block title %}{% if not received %}Trade
{% else %}Received Trade{% endif %}
{% endblock %}
{% block head %}{{ form.media }}{% endblock %}
{% block script %} var userNumberOfStocks = {{ userPlayer.stocks.all|length }};{% endblock %}
{% block content %}
<div class="tradeHolder">
    <div style="position: absolute; right: 0; top: 0" id="count">
        <span id="currStocks"></span> of <span id="maxStocks">{{ floor.num_stocks }}</span> stocks remaining
    </div>
    <form action="{% if received %}{% url "trade" pkFloor=trade.floor.pk %}{% elif countering %}{% url "trade" pkFloor=countering.floor.pk pkCountering=countering.pk %}{% endif %}" method="POST">
        {% csrf_token %}
        <table align="center">
            <tr>
                <td colspan="2">
                    {{ form.non_field_errors }}
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="username" value="{{ request.user.username }}" disabled>
                </td>
                <td></td>
                <td>
                    {{ form.other_user.errors }}
                    {{ form.other_user }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.user_stocks.errors }}
                    {{ form.user_stocks }}
                </td>
                <td>
                    <img src="{% static "arrow.png" %}" width="15px"/><br />
                    <img src="{% static "arrow.png" %}" width="15px" class="flipped"/>
                </td>
                <td id="rightSideTrade">
                    {{ form.other_stocks.errors }}
                    {{ form.other_stocks }}
                </td>
            </tr>
        </table>
        {% if not received %}
        <input type="submit">
        {% else %}
        <input type="button" onclick="document.location.pathname = '{% url "counterTrade" pkTrade=trade.pk pkFloor=trade.floor.pk %}';" value="Counter">
        <input type="button" onclick="document.location.pathname = '{% url "rejectTrade" pkTrade=trade.pk %}';" value="Reject">
        <input type="button" onclick="document.location.pathname = '{% url "acceptTrade" pkTrade=trade.pk %}';" value="Accept" id="acceptButton">
        {% endif %}
    </form>
</div>
{% endblock %}
